.feature {
  height: 100%;
  // border: 1px solid $white-offset;
  border-radius: 3px;
  padding: 20px;
  background-color: #f9f9fa;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: all 0.3s;
  .feature-image {
    flex: 0 0 auto;
    width: 240px;
    height: 240px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  .feature-title {
  }

  .feature-content {
    margin-bottom: 0;
    margin-top: auto;
  }
}

.feature:hover {
  transform: scale(1.05);
}

.donations {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
